@import 'variables';

$c_blue : #50A2F3;
$c_gray : #EFEFEF;
$c_orange : #FF9600;

body {
}
.page-wrapper {
  float: right;
  width: 100%;
}

.g {
width: 960px;
margin: 0 auto;
zoom: 1;

 &:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
 }
}

.peitop {
  min-width: 960px;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid $c_gray;

  .fl {
    float: left;
  }
  .fr {
    float: right;
  }

  h1 {
    font-weight: 400;
    color: $body_text_color;

    a {
      color: $c_orange;

      &:hover {
        color: $c_green !important;
      }
    }
  }
}

.mnav {
  min-width: 960px;
  height: 40px;
  padding-top: 1px;
  background-position: 0 0;
  background-repeat: repeat-x;
  position: relative;
  z-index: 5;
  background: url(image_path('store/bg2.png'));
  margin: 0;
  padding: 0;
}
