<footer id="footer" data-hook>
<div class="container">
  <div id="footer-right" class="columns sixteen" data-hook></div>
  <div id="footer-left" class="columns sixteen" data-hook>
    <p>Copyright © 2013 八零配汽车服务有限公司 版权所有 <%= Spree.t :powered_by  %> <%= link_to '八零配', 'http://www.80pei.com/' %></p>
  </div>
</div>
</footer>
